$spacer-0: 0;
$spacer-2: 0.125rem;
$spacer-4: 0.25rem;
$spacer-6: 0.365rem;
$spacer-8: 0.5rem;
$spacer-10: 0.625rem;
$spacer-12: 0.75rem;
$spacer-14: 0.875rem;
$spacer-15: 0.9375rem;
$spacer-16: 1rem;
$spacer-18: 1.125rem;
$spacer-20: 1.25rem;
$spacer-22: 1.375rem;
$spacer-24: 1.5rem;
$spacer-28: 1.75rem;
$spacer-32: 2rem;
$spacer-40: 2.5rem;
$spacer-44: 2.75rem;
$spacer-48: 3rem;
$spacer-56: 3.5rem;
$spacer-60: 3.75rem;
$spacer-62: 3.875rem;
$spacer-64: 4rem;
$spacer-72: 4.5rem;
$spacer-80: 5rem;
$spacer-90: 5.75rem;
$spacer-98: 6.125rem;
$spacer-100: 6.25rem;
$spacer-112: 7rem;
$spacer-120: 7.5rem;
$spacer-128: 8rem;
$spacer-136: 8.5rem;
$spacer-154: 9.625rem;
$spacer-160: 10rem;
$spacer-200: 12.5rem;
$spacer-252: 15.8rem;
$spacer-380: 23.75rem;
