$spacer-2: 2px;
$spacer-8: 8px;
$spacer-9: 9px;
$spacer-10: 10px;
$spacer-12: 12px;
$spacer-14: 14px;
$spacer-15: 15px;
$spacer-16: 16px;
$spacer-18: 18px;
$spacer-22: 22px;
$spacer-28: 28px;
$spacer-30: 30px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-49: 49px;
$spacer-50: 50px;
$spacer-56: 56px;
$spacer-59: 59px;
$spacer-80: 80px;
$spacer-83: 83px;
$spacer-151: 151px;
