@font-face {
  font-family: "ProximaNova Regular";
  src: url("../../fonts/ProximaNova/ProximaNovaRegular.ttf") format("ttf"),
    url("../../fonts/ProximaNova/ProximaNovaRegular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova Bold";
  src: url("../../fonts/ProximaNova/ProximaNovaBold.otf") format("otf");
  font-style: normal;
}

$font-family-regular: "ProximaNova Regular", sans-serif;
$font-family-bold: "ProximaNova Bold", sans-serif;

$font-weight-500: 500;
$font-weight-600: 600;

$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-11: 11px;

$line-height-24: 24px;
$line-height-22: 22px;
$line-height-20: 20px;
$line-height-17: 17px;
$line-height-14: 14px;

@mixin font-h1() {
  font-family: $font-family-bold;
  font-weight: $font-weight-500;
  font-size: $font-size-22;
  letter-spacing: 2.64px;
  line-height: $line-height-22;
  text-transform: uppercase;
}

@mixin font-h2() {
  font-family: $font-family-bold;
  font-size: $font-size-20;
  line-height: $line-height-24;
}

@mixin font-h3() {
  font-family: $font-family-regular;
  font-size: $font-size-14;
  line-height: $line-height-20;
}

@mixin font-p() {
  font-family: $font-family-bold;
  font-size: $font-size-12;
  letter-spacing: 1px;
  line-height: $line-height-17;
}

@mixin font-a() {
  font-family: $font-family-regular;
  font-weight: $font-weight-600;
  font-size: $font-size-12;
  line-height: $line-height-17;
  text-transform: uppercase;
}

@mixin font-a-underline() {
  font-family: $font-family-bold;
  font-weight: $font-weight-500;
  font-size: $font-size-12;
  text-transform: uppercase;
  text-decoration: underline;
}

@mixin font-span() {
  font-family: $font-family-bold;
  font-weight: $font-weight-500;
  font-size: $font-size-12;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  color: $f-dark_grey;
}

h1 {
  @include font-h1();
}

h2 {
  @include font-h2();
}

h3 {
  @include font-h3();
}

p {
  @include font-p();
}

span {
  @include font-span();
}

a {
  @include font-a();

  &.underline {
    @include font-a-underline();
  }
}
